/* CUSTOM CSS (colors, styles) */

#debug-div {
  position: fixed;
  bottom: 10px;
  width: 100%;
  text-align: center;
  border-top-style: solid;
  border-top-width: thin;
  border-top-color: #ddd;
}

#debug-list {
  list-style-type: none; 
  font-size: 10px;
  margin: 10px 0px 0px 0px; 
  padding: 0px;
  font-weight: lighter;
}

#headerSection {
  padding-bottom: 10px;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: #ddd;
  margin-bottom: 10px;
}

#headerImage {
  padding-right: 5px;
  margin-top: 10px;
}

#headerText {
  padding-left: 5px;
}

#headerText h1  {
  margin: 10px 5px 0px 0px;
}

#headerText p {
  margin: 0px;
}

.vertical-align {
  display: flex;
  align-items: center;
}
